@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
  margin: 0px;
  padding: 0px;
  width: 98.7vw;
  background-color: #E7EFFF;
}
.App {
    display: flex;
    /* margin: 0px; */
    
  }
  
  .content {
    
    flex: 2;
  }
  
  

 
  


 
  
 